/.project
build
*.pyc
.idea
*.pdf
pyinstaller/EWOBadges
__pycache__/
kuntze/__pycache__/
pyinstaller/PyInstaller/__pycache__/
pyinstaller/PyInstaller/archive/__pycache__/
pyinstaller/PyInstaller/building/__pycache__/
pyinstaller/PyInstaller/depend/__pycache__/
pyinstaller/PyInstaller/hooks/__pycache__/
pyinstaller/PyInstaller/hooks/pre_find_module_path/__pycache__/
pyinstaller/PyInstaller/lib/__pycache__/
pyinstaller/PyInstaller/lib/altgraph/__pycache__/
pyinstaller/PyInstaller/lib/modulegraph/__pycache__/
pyinstaller/PyInstaller/loader/__pycache__/
pyinstaller/PyInstaller/utils/__pycache__/
pyinstaller/PyInstaller/utils/hooks/__pycache__/
pyinstaller/PyInstaller/utils/win32/__pycache__/

